body {
    background-color: #131313;
    color: #ffffff;
}

#bar-chart-race-container {
    width: 100%;
    height: 600px;
    margin-top: 50px;
}

#bar-chart-race-container .date-label {
    font-weight: 600;
    font-size: 20px;
}

#bar-chart-race-container .song-label {
    font-size: 14px;
    font-weight: 500;
}

#bar-chart-race-container .stream-label {
    font-size: 13px;
    font-weight: 400;
    opacity: 0.8;
}

#bar-chart-race-container .tick text {
    font-size: 12px;
    font-weight: 400;
    opacity: 0.7;
}

#timeline-controls-container {
    width: 100%;
    margin-top: 20px;
    position: relative;
}

#timeline-container {
    width: 100%;
}

#control-container {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 10;
}

.play-pause-btn {
    width: 40px;
    height: 40px;
    border-radius: 5px 5px 5px 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    transition: background-color 0.3s ease;
    font-size: 20px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .play-pause-btn:hover {
    background-color: rgba(255, 255, 255, 0.3);
} */

.play-pause-btn.paused {
    background-color: rgba(76, 199, 100, 1);
}

.play-pause-btn.playing {
    background-color: rgb(255, 69, 69);
}

#visualization-container {
    width: 100%;
}

#timeline-container .axis text {
    font-size: 12px;
    font-weight: 400;
    opacity: 0.7;
    fill: #ffffff;
}

#timeline-container .axis line,
#timeline-container .axis path {
    stroke: rgba(255, 255, 255, 0.3);
}

#timeline-container .indicator-line {
    stroke: #a8a8a8;
    stroke-width: 2;
    stroke-dasharray: 4,4;
}

#timeline-container .timeline-path {
    stroke: #4287f5;
    stroke-width: 3;
}

#timeline-container .timeline-dot {
    fill: #4287f5;
    r: 5;
}

#timeline-container .grid-line-x {
    stroke: rgba(255, 255, 255, 0.15);
    stroke-width: 2;
}
