# VSCode Editor
.vscode

# macOS resource forks & folder-specific temporary files
._*
**/.DS_Store

# Experimental folders
precompute
tests

# Python scripts for data processing folder
python

## Python Virutal Environments
.env
.venv
env
venv
