<!-- WRAPPER -->
<div class="container-fluid wrapper">
    <!-- <div class="row"> -->
    <!-- <div class="col-10 offset-1 main-container"> -->
    <!-- Visualizations -->
    <!-- <div class="row viz-container"> -->
    <div id="visualization-container">
        <div id="bar-chart-race-container">
            <div id="control-container"></div>
        </div>
        <div id="timeline-controls-container">
            <div id="timeline-container"></div>
        </div>
    </div>
    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->
</div>
